<%- include('./templates/header') %>
    <main class="main">
        <section class="notfound">
           <h1 class="status-code">404</h1>
           <p>Page Not Found.</p>
        </section>
    </main>
<%- include('./templates/footer') %>