<%- include('./templates/header'); %>
<div class="about">
    <div class="about-up">
        <div class="about-left">
            <h3>About Me</h3>
            <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quia excepturi molestias cumque natus cum!</p>
            <a  href="/contact" class="btn">Contact Me</a>
        </div>
        <div class="about-right">
            <div class="bg-mastah">
            </div>
            <img class="img-mastah" src="img/mastah.png" alt="mastah img">
        </div>
    </div>
    <div class="about-down">
        <div class="about-left">
            <h3 class="about-title">Lorem ipsum dolor sit amet consectetur.</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Excepturi dicta delectus voluptatem minus qui dolorem repellendus? 
                 Doloribus eaque repudiandae quam praesentium repellat ducimus ratione, quia nobis.
                 Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Excepturi dicta delectus voluptatem minus qui dolorem repellendus? 
                 Doloribus eaque repudiandae quam praesentium repellat ducimus ratione, quia nobis.
                 Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Excepturi dicta delectus voluptatem minus qui dolorem repellendus? 
                 Doloribus eaque repudiandae quam praesentium repellat ducimus ratione, quia nobis.
            </p>
        </div>
        <div class="about-right">
            <h3 class="about-title">Lorem, ipsum dolor.</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Excepturi dicta delectus voluptatem minus qui dolorem repellendus? 
                 Doloribus eaque repudiandae quam praesentium repellat ducimus ratione, quia nobis.
            </p>
        </div>
    </div>
   
</div>
<%- include('./templates/footer'); %>