<%- include('./templates/header') %>
    <main class="main">
        <section class="blog">
           <div class="items-wrapper">
                
           </div>
           <div class="btn-sidebar">
                MENU
           </div>
           <div class="sidebar-wrapper">
                <div class="categories">
                    <div class="category-title">
                        Category
                    </div>
                    <div class="categories-wrapper">
                        <div class="item-category">
                            <a class="link" href="">
                                <h3 class="category-name">
                                    # Programmer
                                </h3>
                            </a>
                        </div>
                        <div class="item-category">
                            <a class="link" href="">
                                <h3 class="category-name">
                                    # Sains
                                </h3>
                            </a>
                        </div>
                        <div class="item-category">
                            <a class="link" href="">
                                <h3 class="category-name">
                                    # Anime
                                </h3>
                            </a>
                        </div>
                        <div class="item-category">
                            <a class="link" href="">
                                <h3 class="category-name">
                                    # Teknologi
                                </h3>
                            </a>
                        </div>
                    </div>
                </div>
           </div>
        </section>
    </main>
<%- include('./templates/footer') %>