<%- include('./templates/header'); %>
<main>
    <section class="contact">
        <div class="contact-wrapper">
            <div class="contact-left">
                <canvas class="game"></canvas>
            </div>
            <div class="contact-right">
                <form action="" class="form">
                    <textarea name="email" id="" cols="30" rows="1" class="col email"></textarea>
                    <textarea name="name" id="" cols="30" rows="1" class="col name"></textarea>
                    <textarea name="message" id="" cols="30" rows="10" class="col message"></textarea>
                    <button>Send</button>
                </form>
            </div>
        </div>
        <div class="down-wrapper">
            <h3>Contact</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Iste saepe ullam est eveniet sapiente placeat rem culpa aut quidem, tempore odio, 
                facilis quis nihil unde impedit minima totam voluptate deleniti. 
                Quo necessitatibus odit quaerat minus vel voluptate in harum magnam veniam voluptatum, 
                a vero accusamus magni reprehenderit facere dolore quod, minima maiores cumque rerum quidem reiciendis. 
                Necessitatibus consequatur quisquam saepe odit magnam, maxime asperiores et quaerat corporis.
            </p>
        </div>
    </section>
</main>
<%- include('./templates/footer'); %>