<%- include('./templates/header') %>
    <main class="main">
        <section class="hero">
            <div class="hero-left">
                <h1 class="intro">
                    Content Management System
                </h1>
                <h2 class="duction">This Is Bocah Web</h2>
                <p class="desc">
                    bocah created by oniichan,
                    a simple Content Management System made by programmers. made in a simple way,
                    made because it aims to sharpen the skills of this poor programmer, this is not a real project but a high expectations beyond the notation.
                </p>
            </div>
            <div class="hero-right">
                <div class="hero-bg"></div>
                <img class="hero-img" src="img/esy.png" alt="">
            </div>
        </section>
    </main>
<%- include('./templates/footer') %>
    