<footer class="footer">
    <div class="footer-left">&copy; 2023 Ryugen, All rights reserved.</div>
    <div class="footer-right">
        <a href="https://github.com/genxiaong"><img src="https://github.githubassets.com/favicons/favicon.svg" alt="github" class="visite-icon"></a>
        <a href="/"><img src="https://static.xx.fbcdn.net/rsrc.php/yD/r/d4ZIVX-5C-b.ico" alt="facebook"  class="visite-icon"></a>
        <a href="/"><img src="https://static.cdninstagram.com/rsrc.php/v3/yt/r/30PrGfR3xhB.png" alt="instagram"  class="visite-icon"></a>
    </div>
</footer>
<%- include('../dynamics/scripts');%>
</body>
</html>