<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta name="description" content="<%= description %>">
    <meta name="author" content="ryugenxd"/>
    <title>BotchanWeb</title>
    <%- include('../dynamics/styles');%>
</head>
<body>
    <header class="header">
        <div class="title-header">
            <div class="one">Bocah</div> <span class="hint-color">Web</span>
        </div>
        <div class="humberger" onclick="NavbarHandler()">
            <div class="humberger-line"></div>
            <div class="humberger-line"></div>
            <div class="humberger-line"></div>
        </div>
        <nav class="nav-links hide-links">
            <div class="nav-link">
                <a class="nav-link" href="/">Home</a>
            </div>
            <div class="nav-link">
                <a class="nav-link" href="/about">About</a>
            </div>
            <div class="nav-link">
                <a class="nav-link" href="/portofolio">Portofolio</a>
             </div>
             <div class="nav-link">
                <a class="nav-link" href="/blog">Blog</a>
             </div>
            <div class="nav-link">
                <a class="nav-link" href="/contact">Contact</a>
            </div>
        </nav>
    </header>